[submodule "3rdparty/termbox/origin"]
	path = 3rdparty/termbox/origin
	url = https://github.com/nsf/termbox.git
[submodule "3rdparty/log.c/origin"]
	path = 3rdparty/log.c/origin
	url = https://github.com/rxi/log.c.git
[submodule "3rdparty/tinycthread"]
	path = 3rdparty/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
[submodule "3rdparty/libsoundio"]
	path = 3rdparty/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "3rdparty/zf_log"]
	path = 3rdparty/zf_log
	url = https://github.com/wonder-mice/zf_log.git
[submodule "3rdparty/Collections-C"]
	path = 3rdparty/Collections-C
	url = https://github.com/srdja/Collections-C.git
[submodule "3rdparty/libucl"]
	path = 3rdparty/libucl
	url = https://github.com/vstakhov/libucl.git
[submodule "3rdparty/uthash"]
	path = 3rdparty/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "3rdparty/tinydir"]
	path = 3rdparty/tinydir
	url = https://github.com/cxong/tinydir.git
