[submodule "3rdparty/termbox/origin"]
	path = 3rdparty/termbox/origin
	url = https://github.com/nsf/termbox.git
[submodule "3rdparty/log.c/origin"]
	path = 3rdparty/log.c/origin
	url = https://github.com/rxi/log.c.git
[submodule "3rdparty/tinycthread"]
	path = 3rdparty/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
[submodule "3rdparty/libsoundio"]
	path = 3rdparty/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "3rdparty/zf_log"]
	path = 3rdparty/zf_log
	url = https://github.com/wonder-mice/zf_log.git
